@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply h-full;
}

#root {
    @apply flex flex-col;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {

}

.container {
    @apply mx-auto;
}

.grid-container {
    @apply grid grid-rows-2 grid-cols-2 container gap-7 py-6 max-h-fit;
    grid-template-rows: 1fr 1fr;
    transition: grid-template-rows 0.25s;
    min-height: 90%;
}

.full-w-component {
    @apply rounded-lg col-span-2 p-4 bg-primary flex flex-col justify-center items-center bg-base-200 overflow-y-auto;
}

.half-w-component {
    @apply col-span-1;
}

.to-do-component {
    @apply gap-2 justify-start overflow-auto;
}

.task-item {
    @apply flex  bg-base-300 items-center gap-4 w-full p-2 rounded-lg justify-between;
}

.task-item-1 {
    @apply basis-9/12;
}


.item-form {
    @apply flex flex-col gap-4;
}

.form-btn {
    @apply flex justify-end gap-3;
}

.span-2 { 
    grid-template-rows: 2fr 0fr;
}

.icon-btn {
    @apply btn btn-circle btn-ghost
}

.x-flex {
    @apply flex justify-between gap-4 p-2 items-center;
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
   @apply w-2 ;
}
  
/* Track */
::-webkit-scrollbar-track {
    @apply bg-transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-neutral m-12 rounded;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-focus;
}

